<html>
  <head>
    <title>
      newPage
    </title>
    <script>
      console.log("HelloWorld");
    </script>
  </head>
  <body>
    <h1>Loop it!</h1>
    <ul>
      <% for(var i=0; i<6; i++){ %>
      <li>
        <%= "LOOP" + i %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
